body {
  /* instead of loading heavy fonts, this loads system fonts
      one or more of them is already going to be in user system*/
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
  max-width: 1200px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 10px;
}

a {
  color: #d0021b;
  text-decoration: none;
}

.nav {
  display: flex;
}

.nav li {

}

.active {
  font-weight: bold;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  font-weight: bold;
  cursor: pointer;
}

.popular-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  text-align: center;
  margin: 30px;
}

.list-items {
  margin-bottom: 7px;
}

.popular-rank {
  font-size: 20px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}
